.container{
    background-color: rgb(239, 234, 234);
    width: 100%;
    min-height: 400px;
    justify-content: space-between;

}

.div1{
    background-color:lightgray;
    width: 50%;
    min-height: 400px;
    /* line-height: 400px; */
    float:left;
    /* margin-right: 10px; */
    text-align: center;
}

.div2{
    text-align: center;
    width: 50%;
    min-height: 400px;
    float: right;
    background-color: gray;
}    
    